<div class="grid">

    {{#each socialItems}}
    <div class="social-card social-card--tumblr {{#if this.image}}social-card--has-image{{/if}} grid__item">
        <footer class="social-card__footer">
            <a class="social-card__source" href="<?php echo $post->profile; ?>"><?php echo $post->name; ?></a>
            <a class="social-card__date" href="{{ this.permalink }}">
                <time datetime="2016-05-06T09:04:12Z" title="2016-05-06T09:04:12Z">
                    {{ this.timeAgo }}
                </time>
            </a>
        </footer>
        {{#if this.image}}
            <a class="social-card__media" href="{{ this.permalink }}">
                <img class="social-card__image" alt="" src="{{ this.image }}">
            </a>
        {{/if}}
        <div class="content social-card__body">
            <p>{{ this.content }}</p>
        </div>
    </div>
    {{/each}}

</div>