<article class="staff-card">
    <img class="staff-card__avatar" alt="{{ name }}" src="{{ avatar }}">
    <div class="staff-card__body">
        <header class="staff-card__header">
            <h1 class="staff-card__title">{{ name }}</h1>
            <a class="staff-card__email" href="mailto:{{ email }}">{{ email }}</a>
        </header>
        <div class="content staff-card__content">
            <p>{{ biography }}</p>
        </div>
    </div>
</article>